html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

img{
    max-width: 20%;
    height: 20%;
  }

body{
    font-family: 'Gabarito', sans-serif;
    margin: 100;
    background-color:rgb(251, 128, 255)
    
  }

  p{
    border:1px solid #320036;
    padding:20px;
  }

  header.primary{
    background-color: #e629ff;
  text-align: center;
  padding:40px;

  border:1px solid #320036;
    padding:20px;
  }